.width-20 {
    width: 20px;
}

.width-30 {
    width: 30px;
}

.width-50 {
    width: 50px;
}

.width-100 {
    width: 100px;
}

.width-110 {
    width: 110px;
}

.width-130 {
    width: 130px;
}

.width-150 {
    width: 150px;
}

.width-200 {
    width: 200px;
}