<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- CryptKey -->
    <add key="API_SOFTPARK" value="http://dashboard.erpcase.com.br:8082" />
    <add key="CryptKey" value="{ 115, 5, 35, 87, 64, 65, 66, 93 }" />
  </appSettings>
  <connectionStrings>
    <!--<add name="ConnectionStringMySQL" connectionString="Server=4world.com.br; Port=3306; Database=erp_trevo_hml; Uid=4world_dev; Pwd=uI2x0g#5;" providerName="MySql.Data.MySqlClient" />-->
    <!--<add name="ConnectionStringMySQL" connectionString="Server=4world.com.br; Port=3306; Database=erp_trevo_dev; Uid=4world_dev; Pwd=uI2x0g#5;" providerName="MySql.Data.MySqlClient" />-->
    <!--<add name="ConnectionStringSQL" connectionString="Data Source=Paulo;Initial Catalog=erp_trevo_dev; Integrated Security=true" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionStringSQL" connectionString="Data Source=54.233.179.247;Initial Catalog=GrupoTrevo_ERP_PRD;User ID=erp_trevo_usr;Password=4World123;" providerName="System.Data.SqlClient" />-->
    <add name="ConnectionStringSQL" connectionString="Data Source=54.233.179.247;Initial Catalog=GrupoTrevo_ERP_PRD;User ID=erp_trevo_usr;Password=4World123;" providerName="System.Data.SqlClient" />
    <!--<add name="ConnectionStringSQL" connectionString="Data Source=54.233.179.247;Initial Catalog=GrupoTrevo_PRODUCAO;User ID=erp_trevo_usr;Password=4World123;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.8.0" newVersion="4.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup></configuration>
