@{
    Layout = null;
}
<div class="col-xs-12 no-padding margin-top-5 margin-bottom-20">
    <button type="submit" id="informar-recibo" class="btn btn-lg btn-success pull-right margin-left-5 margin-right-10" onclick="InformarRecibo()">
        Informar Recibo
    </button>

    <button type="submit" id="solicitar-valor" class="btn btn-lg btn-primary pull-right" onclick="InformarObservacoes()">
        Solicitar Retirada
    </button>

    <button type="submit" id="solicitar-valor-disabled" class="btn btn-lg btn-primary pull-right" disabled style="display: none">
        Solicitar Retirada
    </button>
</div>