@model List<Entidade.Convenio>
<div class="widget-body">
    @if (Model != null && Model.Any())
    {
        <table id="datatable_fixed_column" class="table table-striped table-bordered" width="100%">
            <thead>
                <tr>
                    <th class="hasinput" style="width: 18%">
                        <input type="text" class="form-control" placeholder="Filtrar Nome" />
                    </th>
                    <th class="hasinput" style="width: 18%">
                        <input type="text" class="form-control" placeholder="Filtrar Unidade" />
                    </th>
                    <th class="hasinput" style="width: 18%">
                        <input type="text" class="form-control" placeholder="Filtrar Status" />
                    </th>
                    <th class="hasinput" style="max-width: 120px; min-width: 120px; width: 1%;" rowspan="1" colspan="1">
                    </th>
                </tr>
                <tr>
                    <th data-class="expand">Nome</th>
                    <th data-class="expand">Unidade</th>
                    <th data-class="expand">Status</th>
                    <th data-class="expand">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var m in Model)
                {
                    if (@m.ConvenioUnidades.Count > 0)
                    {
                        <tr>
                            <td>@m.Descricao</td>
                            <td>@String.Join(", ",m.ConvenioUnidades.Select(x =>x.ConvenioUnidade.Unidade.Nome))</td>
                            <td>@(m.Status == true ? "Ativo" : "Desativado") </td>
                            <td>
                                <a class="btn btn-primary" href="/convenio/edit/@m.Id"><i class='fa fa-edit'></i></a>
                                <a class="btn btn-danger" href="/convenio/delete/@m.Id"><i class="fa fa-remove"></i></a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
    else
    {
        <table id="datatable_fixed_column" class="table table-striped table-bordered" width="100%">
            <tr>
                <td>
                    Nenhuma Tabela de Preço foi encontrada.
                </td>
            </tr>
        </table>

    }
</div>
