@{
    Layout = null;
}

<div class="col-xs-12 no-padding margin-top-5 margin-bottom-20">
    <a href="/SolicitacaoPagamentoReembolso/Index" type="submit" id="cancelar" class="btn btn-lg btn-danger pull-right margin-left-5 margin-right-10">
        Cancelar
    </a>

    <button type="submit" id="informar-recibo" class="btn btn-lg btn-primary pull-right margin-left-5" onclick="AbrirModalInformarRecibo();">
        Informar Recibos
    </button>
</div>