.modal-fitContent{
    width:fit-content;
}
.modal-maxContent {
    width:max-content;
}

.aside-desktop {
    border: none !important;
    box-shadow: none !important;
    background: none !important;
    background-color: transparent !important;
    background: transparent !important;
    height: 60px !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    z-index: 99 !important;
    padding-top: 0px !important;
}

    .aside-desktop .collapse-sign {
        display: none;
    }


    .aside-desktop .div-aside > nav {
        max-width: 1125px !important;
        margin: auto !important;
    }

    .aside-desktop .menu-topo-logo img {
        width: 100%;
        height: 80%;
        max-width: 150px;
        margin-top: 25px;
    }

    .aside-desktop .banner img {
        width: 100%;
    }

    .aside-desktop ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

        .aside-desktop ul.dropdown {
            position: relative;
            width: 100%;
            display: inline-flex !important;
        }

            .aside-desktop ul.dropdown li {
                font-weight: bold;
                float: left;
                min-width: 25%;
                position: relative;
                background: transparent;
            }

            .aside-desktop ul.dropdown > li {
                margin-left: 0px !important;
                margin-right: 0px !important;
            }

            .aside-desktop ul.dropdown a:hover {
                color: #000;
            }

            .aside-desktop ul.dropdown li div a {
                background-color: transparent;
                display: block;
                padding: 20px 8px;
                color: #fff;
                position: relative;
                z-index: 2000;
                text-align: center;
                text-decoration: none;
                font-weight: 300;
            }

                .aside-desktop ul.dropdown li div a:hover,
                .aside-desktop ul.dropdown li div a.hover {
                    position: relative;
                    color: white;
                    background: #0000b3;
                }

            .aside-desktop ul.dropdown ul {
                display: none;
                position: absolute;
                top: 50px !important;
                left: 0;
                z-index: 1000;
                max-height: 80vh;
                overflow-x: hidden;
            }

                .aside-desktop ul.dropdown li:hover ul.sub_menu {
                    display: block;
                }

                .aside-desktop ul.dropdown ul li {
                    font-weight: normal;
                    background: #f6f6f6;
                    color: #000;
                    border-bottom: 1px solid #ccc;
                }


    .aside-desktop .sub_menu {
        width: 100% !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-bottom: 0px !important;
        border-left: none !important;
        border-right: none !important;
        border-bottom: none !important;
    }

        .aside-desktop .sub_menu li {
            background-color: #0000b3;
            width: 100%
        }

            .aside-desktop .sub_menu li div a {
                display: block;
                color: #0000b3 !important;
                background: white !important;
            }

                .aside-desktop .sub_menu li div a:hover {
                    display: block;
                    color: white !important;
                    background: #0000b3 !important;
                }

    .aside-desktop .drop {
        margin-left: 1px;
        margin-right: 1px;
        border-left: 0px !important;
        border-right: 0px !important;
        background-color: transparent;
    }

        .aside-desktop .drop > div > a {
            position: relative;
            padding: 20px 20px !important;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

            .aside-desktop .drop > div > a:after {
                content: "";
                position: absolute;
                right: 10px;
                top: 45%;
                border-left: 5px solid transparent;
                border-top: 5px solid #fff;
                border-right: 5px solid transparent;
                z-index: 999;
            }

            .aside-desktop .drop > div > a:hover:after {
                content: "";
                border-left: 5px solid transparent;
                border-top: 5px solid #fff;
                border-right: 5px solid transparent;
            }

    .aside-desktop nav {
        margin-top: 4px;
    }

        .aside-desktop nav.hidden {
            margin-top: 4px;
            max-height: 60px;
        }

    .aside-desktop .scroller {
        text-align: center;
        cursor: pointer;
        padding: 7px;
        padding-top: 13px;
        /* ReSharper disable once InvalidValue */
        white-space: no-wrap;
        vertical-align: middle;
        width: 35px;
        font-size: 30px;
        color: white;
        position: initial;
    }

    .aside-desktop .scroller-area > div {
        width: 100%;
    }

    .aside-desktop .scroller-transparent {
        /* ReSharper disable once HexColorValueWithAlpha */
        color: #ffffff33;
    }

    .aside-desktop .scroller-left {
        text-align: right;
    }

    .aside-desktop .scroller-right {
        text-align: left;
    }

    .aside-desktop .pull-right {
        margin-top: 8px;
        margin-left: 0px !important;
        text-align: left;
    }
