@{
    Layout = null;
}
<div class="col-xs-12 no-padding margin-top-5 margin-bottom-20">
    <button type="submit" id="negar-valor" class="btn btn-lg btn-danger pull-right margin-left-5" onclick="Negar()">
        Negar
    </button>

    <button type="submit" id="solicitar-valor" class="btn btn-lg btn-primary pull-right" onclick="Aprovar()">
        Aprovar
    </button>
</div>