@using Entidade.Uteis
@using Core.Extensions
@using Portal.Controllers

@{
    var controller = ViewContext.Controller as OrcamentoSinistroController;
}

<div class="col-md-12 no-padding">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <label for="oficina-indicada">Peça a ser comprada/Serviço:</label>
            @Html.TextBox("peca-servico", "", new { @id = "peca-servico", @class = "form-control" })
        </div>
        <div class="col-xs-12 col-md-4">
            <button style="margin-top: 24px" type="button" class="btn btn-primary pull-right" id="adicionar-peca-servico" onclick="adicionarPecaServico()"><i class="fa fa-plus-circle"></i>&nbsp; Adicionar</button>
        </div>
    </div>
</div>