@section pagespecific{
    @Styles.Render("~/content/css/shared/menu-administrativo-config.css")
}
<!-- MAIN CONTENT -->
<div id="content">
    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- row -->
        <div class="row">
           
            <article class="col-sm-12">

                <!-- new widget -->
                <h1> Bem Vindo! </h1>
                <!-- end widget -->
              
            </article>
        </div>

        <!-- end row -->

    </section>
    <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->