

.margin-top-5 {
    margin-top: 5px !important;
}

.text-align-center {
    text-align: center !important;
}
.btn-arredondado {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}
.avatar {
    /* This image is 687 wide by 1024 tall, similar to your aspect ratio */
    background-image: url('../../Content/img/avatars/sunny-big.png');
    /* make a square container */
    width: 150px;
    height: 150px;
    /* fill the container, preserving aspect ratio, and cropping to fit */
    background-size: cover;
    /* center the image vertically and horizontally */
    background-position: top center;
    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;
    
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.max-width-95 {
    max-width: 95% !important;
}

.fieldDate {
    width: 100px !important;
}

#conteudo {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

#data_table_contacts tbody tr td:last-child span:first-child{
    margin-right:2px;
}

label {
    margin-top: 10px;
}

@media only screen and (max-width: 768px) {
    #conteudo {
        margin-left: 5% !important;
        margin-right: 5% !important;
    }

    #add-contact {
        width: 100%;
        max-width: 300px;
    }
}


#search-icon {
    position: relative;
    z-index: 1;
    left: -25px;
    top: 1px;
    color: #7B7B7B;
    cursor: pointer;
    width: 0;
}

#conteudo input {
    max-width: 300px;
}

label {
    margin-top: 10px;
}

@media only screen and (max-width: 768px) {
    #zipcode {
        display: inline;
    }

    #conteudo {
        margin-left: 5% !important;
        margin-right: 5% !important;
    }

        #conteudo input {
            max-width: 300px !important;
        }
}

@media only screen and (max-width: 361px) {
    #conteudo input {
        max-width: 294px !important;
    }
}