@using Core.Extensions
@model DadosModal

<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content panel-@(Model.TipoModal.ToDescription())" id="modalContent">
            <div class="modal-header panel-heading">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">@Model.Titulo</h4>
            </div>
            <div class="modal-body">
                <h5 style="white-space:pre-line">@(Html.Raw(Model.Mensagem))</h5>
            </div>
            <div class="modal-footer">
                @if (!string.IsNullOrEmpty(Model.TituloConfirma))
                {
                    <button class="btn-acao-confirma btn btn-@(Model.TipoModal.ToDescription())">@Model.TituloConfirma</button>
                }
                <input type="button" class="btn" data-dismiss="modal" value="Fechar" />
            </div>
        </div>
    </div>
</div>