<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">Termos & condições</h4>
            </div>
            <div class="modal-body custom-scroll terms-body">
                <div id="left">
                    <h1>Nossos termos de uso</h1>
                    <h2>Introdução</h2>
                    <p>Descrição da introdução</p>
                    <h2>Linceça</h2>
                    <p>Descrição da Licença</p>
                    <p>Não recomendamos:</p>
                    <ul>
                        <li>Expor as informações contidas neste portal;</li>
                    </ul>
                    <h2>Uso do portal</h2>
                    <p>O Portal tem uso exclusivo demonstrativo</p>
                    <h2>Restrições de acesso</h2>
                    <p>O usuário único fornecido no portal é demontrativo</p>
                    <h2>Dados</h2>
                    <p>Os dados contidos no portal são ficticios</p>
                </div>
                <br><br>
                <p>
                    <strong>
                        Para se registrar é necessários aceitar os 
                        <a href="#">termos e condições</a> 
                    </strong>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cancelar
                </button>
                <button type="button" class="btn btn-primary" id="i-agree">
                    <i class="fa fa-check"></i> Eu aceito
                </button>

                <button type="button" class="btn btn-danger pull-left" id="print">
                    <i class="fa fa-print"></i> Imprimir
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->