
@{
    Layout = null;
}

<div class="col-md-5">
    <label>E-mail:</label><br />
    <input type="email" id="email" name="Email" class="form-control" />
</div>
<div class="col-md-2">
    <label>Telefone:</label>
    <input type="tel" id="telephone" name="Telefone" value="(__) ____-____" class="form-control" />
</div>
<div class="col-md-2">
    <label>Celular:</label>
    <input type="tel" id="cellphone" name="Celular" value="(__) _____-____" class="form-control" />
</div>