
<h3 class="text-center">Liberar Notas?</h3>
<br />
    <div class="col-xs-12 col-sm-12">
        Deseja liberar as notas selecionadas?
    </div>

    <div class="col-xs-12 col-sm-12">
        <div class="pull-right margin-right-10">
            <button type="submit" class="btn btn-lg btn-danger" data-dismiss="modal">
                <i class="fa fa-save"></i> Cancelar
            </button>
        </div>
        <div class="pull-right margin-right-10">
            <button type="submit" class="btn btn-lg btn-primary"  onclick="LiberarNotas();">
                <i class="fa fa-save"></i> Liberar
            </button>
        </div>
    </div>

<script>

    $(document).ready(function () {


    });


</script>