<div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
    <h1 class="txt-color-red login-header-big">Portal de Monitorimento - Sinapsetech</h1>
    <div class="hero">

        <div class="pull-left login-desc-box-l">
            <h4 class="paragraph-header">Portal destinado a monitoração de todo o parque de servidores e serviços dos clientes Sinapsetech!</h4>
            <h4 class="paragraph-header">Ainda não possuí nossos serviços de monitoria?</h4>
            <div class="login-app-icons">
                @*<a href="javascript:void(0);" class="btn btn-danger btn-sm">Frontend Template</a>*@
                <a href="javascript:void(0);" class="btn btn-danger btn-sm">Entre em contato</a>
            </div>
        </div>

        <img src="~/content/img/demo/iphoneview.png" class="pull-right display-image" alt="" style="width:210px">

    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h5 class="about-heading">Sobre a Sinapsetech</h5>
            <p>
                Fundada em 2013 a SinapseTech nasceu com o propósito de resolver problemas de negócio. Possuímos a tecnologia em nosso DNA, mas buscamos o diferencial em nossas conexões e capacidade de entender diferentes operações. Buscamos deixar legado, sempre.
            </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h5 class="about-heading">Nossa Missão</h5>
            <p>
                Conduzir nossos clientes na obtenção de resultados consistentes, através da oferta de serviços compartilhados de tecnologia e gestão, através de uma equipe formada por profissionais excepcionais e provocativos.
            </p>
        </div>
    </div>

</div>