@{
	ViewBag.PageId = "extr-page";
}

<link href="~/Content/css/account/login.css" rel="stylesheet" />

@if (ViewBag.ForgotPassword != null)
{
	<script type="text/javascript">
		toastr.success('Link de redefinicao de senha enviado por e-mail, verifique sua caixa de entrada');
	</script>
}

<div id="content" class="container">
	<div class="home-button" onclick="window.location = '/';">
		<i class="fa fa-home"></i>
	</div>
	<div class="logo-cacau-second-step">
		<img src="~/content/img/logo.png">
	</div>
	<div class="row">
		<div class="well no-lateral-margins no-padding login-area">
			<form action="@Url.Action("forgotpassword", "account")" method="POST" id="login-form">
				<fieldset>
					<section class="section-cpf">
						<div>
                            <label>
                                <i class="icon-append fa fa-envelope"></i>
                                <input type="text" name="cpf" id="cpf" onchange="validaCPF(this);" autocomplete="off">
                                <br />
                                <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Entre com seu login (CPF) </b>
                            </label>
							@Html.ValidationMessage("ErroRecuperarSenha")
						</div>
						<div class="note">
							<a href="@Url.Action("login", "account")">Eu lembrei minha senha!</a>
						</div>
					</section>
				</fieldset>
				<footer>
					<button type="submit">
						<i class="fa fa-envelope"></i>
						Receber nova senha
					</button>
				</footer>
			</form>
			<button onclick="history.back()">
				Voltar
			</button>
		</div>
	</div>
	<script src="~/Scripts/account/login.js"></script>
</div>