html {
    background-color: white;
}

.row {
    width: 100% !important;
    margin: 0 !important;
}

.font-size-10 {
    font-size: 10px !important;
}

.margin-10 {
    margin: 10px 10px 10px 10px !important;
}

.margin-top-10 {
    margin-top: 10px !important;
}
.margin-top-20 {
    margin-top: 20px !important;
}
.margin-top-50 {
    margin-top: 50px !important;
}
.margin-bottom-10 {
    margin-bottom: 10px !important;
}
.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.text-align-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

/* fill half the height with each face */
.face {
    height: calc(100% - 100px) !important;
    width: 100% !important;
    position: relative !important;
}

page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

    page[size="A4"] {
        width: 21cm;
        height: 29.7cm;
    }

        page[size="A4"][layout="landscape"] {
            width: 29.7cm;
            height: 21cm;
        }

    page[size="A3"] {
        width: 29.7cm;
        height: 42cm;
    }

        page[size="A3"][layout="landscape"] {
            width: 42cm;
            height: 29.7cm;
        }

    page[size="A5"] {
        width: 14.8cm;
        height: 21cm;
    }

        page[size="A5"][layout="landscape"] {
            width: 21cm;
            height: 14.8cm;
        }

@media print {
    body, page {
        margin: 0;
        box-shadow: 0;
    }
}

.center {
    width: 100%;
    position: absolute;
}

footer {
    height: 100px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}