@model Aplicacao.ViewModels.ContasAPagarViewModel

<h3 class="text-center">Informe o Tipo e Numero do Documento</h3>
<br />
@{

    var item = Model;

    <input id="idcontapagar" value=@item.Id type="hidden" />

    <div class="col-xs-12 col-sm-12">
        <div class="col-xs-4 heightline">
            <label>Tipo de Documento:</label>
        </div>
        <div class="col-xs-8 heightline" style="margin-bottom:30px;">
            @Html.EnumDropDownListFor(x => item.TipoDocumentoConta, "Select uma forma de pagamento", new { @id = "tipodocumento", @class = "form-control" })
        </div>

        <div class="col-xs-4 heightline">
            <label>Numero Documento:</label>
        </div>
        <div class="col-xs-8 heightline">
            <input id="numerodocumento" min="1" type="number" class="heightfield" value="@item.NumeroDocumento" @*onblur="somenteNumeros(this)"*@ @*onkeypress="validaNumeros(event);"*@ maxlength="40" style="width:100%;" />
        </div>
    </div>

}
    <div class="col-xs-12 col-sm-12">
        <div class="pull-right margin-right-10">
            <button type="submit" class="btn btn-lg btn-danger" data-dismiss="modal">
                <i class="fa fa-save"></i> Cancelar
            </button>
        </div>
        <div class="pull-right margin-right-10">
            <button type="submit" class="btn btn-lg btn-primary"  onclick="ConfirmarPagamento();">
                <i class="fa fa-save"></i> Pagar
            </button>
        </div>
    </div>

<script>

    $(document).ready(function () {

        $("#numerodocumento").change(function () {

            var valor = $("#numerodocumento").val();

            //if (valor.indexOf('.') !== -1) {
            //    $("#numerodocumento").val('');
            //    toastr.warning("Numero de Documento Inválido!", "Numero de Documento");
            //    return true;
            //}

            //if (valor.indexOf('--')) {
            //    $("#numerodocumento").val('');
            //    toastr.warning("Numero de Documento Inválido!", "Numero de Documento");
            //}

            if (valor < 0) {
                $("#numerodocumento").val('');
                toastr.warning("Numero de Documento não pode ser negativo!", "Numero de Documento");
            }
        })




       //$(window).load(function () {

        //    $("input[name=valorAPagar]").val(0);
        //    alert('teste2');

        //});
    });


</script>