@using Portal.Controllers
@using Core.Extensions;

@model List<BeneficioFuncionarioViewModel>

<div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Lista de Registros</h2>
            </header>

            <div>
                <div class="widget-body no-padding">
                    <table id="datatable_fixed_column" class="table table-striped table-bordered" width="100%" style="margin-top: 0px !important">
                        <thead>
                            <tr>
                                <th class="hasinput">
                                    <input type="text" class="form-control" placeholder="Filtrar Funcionário" />
                                </th>
                                <th class="hasinput" style="width: 100px;">
                                </th>
                            </tr>
                            <tr>
                                <th>Funcionário</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Funcionario.Pessoa.Nome</td>
                                    <td>
                                        <a class="btn btn-primary editGrid" href="/BeneficioFuncionario/Edicao?id=@item.BeneficioFuncionarioId&guidSession=guidvar"><i class="fa fa-edit"></i></a>
                                        <a class="btn btn-danger" href="/BeneficioFuncionario/Delete/@item.BeneficioFuncionarioId"><i class="fa fa-remove"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </article>
</div>
<script>
    var guidSession = $("#guidSession").val();
    $(".editGrid").each(function(){
        var href = $(this).attr("href");
        href = href.replace("guidvar", guidSession);
        $(this).removeAttr("href");
        $(this).attr("href", href);
    });
</script>