<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    
  </appSettings>
    
  <connectionStrings>
    <add name="ConnectionStringSQL" 
          connectionString="Data Source=54.233.179.247;Initial Catalog=GrupoTrevo_ERP_PRD;User ID=erp_trevo_usr;Password=4World123;" 
          providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>